/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*
Custom Styles
 */

 html {
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

 ::-webkit-scrollbar {
     display: none;
 }

 img {
   max-width:100%;
 }

 a {
   color: inherit; /* blue colors for links too */
   text-decoration: inherit; /* no underline */
 }

main {
  margin-left: 185px;
  margin-top: 170px;
  margin-right: 11px;
}

nav {
  display:flex;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  pointer-events: none;
}

.logo {
  margin:12px 0 0 6px;
}

.sidebar__wrapper {
  pointer-events: all;
  width:172px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topbar__wrapper {
  pointer-events: all;
  border:6px solid #000;
  height:150px;
  flex:1;
  margin:13px;
  display:flex;
  width: calc(100vw - 195px);
  position:relative;
}

.topbar__wrapper:before {
  content: '';
  position: absolute;
  top: -19px;
  width: calc(100% + 12px);
  height: 13px;
  background-color: #fff;
  left: -6px;
}

.topbar__wrapper:after {
  content: '';
  position: absolute;
  top: calc(100% + 6px);
  width: calc(100% + 12px);
  height: 6px;
  background-color: #fff;
  left: -6px;
}

.topbar__item {
  border-left:6px solid #000;
  flex:1;
  position:relative;
  cursor:pointer;
}

.topbar__item:after {
  content:'';
  width:100%;
  height:100%;
  top:0;
  position:absolute;
  opacity:1;
  background-color:rgba(0,0,0,.35);
  transition: all .2s;
}

.topbar__item.topbar__item--tbd:after {
  background-color:transparent;
}

.topbar__item.topbar__item--active:after {
  opacity:0;
}

.topbar__item .play {
  width:100%;
  height:100%;
  top:0;
  position:absolute;
  opacity:0;
  transition: all .2s;
  cursor:pointer;
}
.topbar__item .play:after {
  content:'';
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topbar__item.topbar__item--active:hover .play {
  opacity:0;
}

.topbar__item:hover .play {
  opacity:1;
}

.topbar__item.topbar__item--tbd:before {
  content:'';
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.7);
  display: block;
  position: absolute;
}

.topbar__item.topbar__item--tbd:after {
  content: 'Coming Soon';
  width:100%;
  height:100%;
  text-align:center;
  color:#aaa;
  transform: translate(-50%, 50%);
  top:50%;
  left:50%;
  position:absolute;
  top:0;
  text-transform:uppercase;
  font-weight:800;
}

.topbar__item:first-child {

  border-left:44px solid black;
  border-right:6px;
}

.topbar__item:last-child {
  border-right:0px solid black;
}

.topbar__item img {
  object-fit:cover;
  width:100%;
  height:100%;
  display:block;
}

.social {
  margin: 16px;
  background-color: black;
  color: white;
  padding: 16px;
  text-transform: uppercase;
  font-weight:800;
}

.social a {
  padding-top:4px;
  display:block;
  position:relative;
}
.social a:first-child {
  padding-top:4px;
}
.social a:last-child {
  padding-bottom:4px;
}

.social a:hover:before {
  content:'';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  left: -8px;
  top: 0;
}

.video__wrapper {
  min-height: calc(100vh - 180px);
  position:relative;
  background-color:black;
}

.vendor {
  height: calc(100% - 180px);
  background-color:black;
  margin-bottom:16px;
  position:relative;
}

nav:after {
  content: '';
  position:fixed;
  width:100%;
  height:16px;
  bottom:0;
  background-color:#fff;
}

#video {
  max-width:100%;
  display:block;
  margin-bottom:16px;
  background-color:black;
}

#coming-soon {
   height: calc(100vh - 186px);
   width: calc(100% - 196px);
   text-align: center;
   position:fixed;
   top:0;
   z-index:1;
   background-color:rgb(1,1,1);
   opacity:0;
   margin-left: 185px;
   margin-top: 169px;
   margin-right: 11px;
   pointer-events:none;
   transition:.2s;
}

#coming-soon img {
  height:100%;
  object-fit:contain;
}

.coming-soon__wrapper {
  width:100%;
  height:100%;
  position:relative;
}

#coming-soon h2 {
  position:absolute;
  text-transform: uppercase;
  color:#fff;
  top:160px;
  left:50%;
  transform: translate(-50%, 0);
}

.intro {
  overflow:hidden;
}

.intro .topbar__item:after, .intro .topbar__item.topbar__item--active:after {
  background-color:rgba(0,0,0,.7);
  opacity:1;
}

.intro .topbar__item:last-child:after, .intro .topbar__item:last-child:before {
  background-color:rgba(0,0,0,0);
}

.intro .topbar__item.topbar__item--tbd:after {
  content: '';
}

.intro #coming-soon {
  opacity:1;
}
